*.pyc
.vscode
.idea
wandb
output
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
tensorboard_3d
screenshots
data/
argument/
scripts/
weights/
assets/
manipulation/assets
pyflex/
softgym/
wandb/
scripts_bash/