*.pyc
.vscode
.idea
wandb
output
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
tensorboard_3d
screenshots
data/
argument/
scripts/
weights/
assets/
pyflex/
softgym/
wandb/
scripts_bash/
manipulation/asset/
manipulation/demos/
results/
sim_datasets/
*.sh
*.png 
*.npz
*.npy
*.ipynb
*.gif
*.sif
submodules/depth-diff-gaussian-rasterization
submodules/simple-knn
notebooks/rerun_poses.ipynb
lookat_camera_matrices.json
tmp/
slurm*
blob/
train_test.py
manipulation/experiment_results/
tmp/obj/00000.obj
tmp_scene_render/
cloth_splatting.egg-info/